body{
	font-size:16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
/** HEADER **/

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
#logo-img {
   background: url('') no-repeat;
   width: 100px;
   height: 100px;
   margin: 10px 10px 0px 0;
}

.navbar-brand {
   padding-top:25px;	
}

.navbar-brand h1 {
   font-family: 'lora', serif;
   color: #557c3e;
   font-size: 1.9em;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow: 1px 1px 1px #222;
   margin-top: 0;
   margin-bottum: 0;
   line-heiht: .75;
}
.navbar-brand a:hover, .navbae-brand a:focus {
   text-decoration: none;
}
.navbar-brand p { /* Naruto */
   color: #000;
   font-size: .7em;
   margin-top: 15px; 
   text-transform: uppercase;
}
.navbar-brand p span { /* Shippuden */
   vertical-align: middle;
}

#nav-list {
   margin-top: 10px;
}
#nav-list a {
   color: #951C49;
   text-align: center;
}
#nav-list a:hover {
   background: #7E7E7;
}
#nav-list a span {
   font-size: 1.8em;
}
#phone {
   margin: 5px;
}
#phone a {
   text-align: right;
   padding-bottom: 0;
}
#phone div {
   color: #557c3e;
   text-align: right;
   paddding-right: 15px; 
}
.navbar-hearder button.navbar-toggle, .navbar-header .icon-bar {
   border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
   clear: both;
   margin-top: -30px;
}

/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********* Meduam devices only ********/
@media (min_width:992px) and (max-width: 1199px) {
	#logo-img {
	  backgrond: url('100x100 image') no-repeat;
	  width: 50px;
	  height: 50px;
	  margin: 4px 4px 4px 0;
	} /* end header */
	   
}

/******* Small devices only *******/
@media (min-width: 768px) and (max-width:991px) {
   
}

/******* Extra small devices only *******/
@media (mix-wigth: 767px) {
	/* Header */
	.navbar-brand {
	paddind-top: 5px;
	height: 40px; 
	}
	.navbar-brand h1 {/* Naruto */
	padding-top: 5px;
	font-size: 3vw; /* 1vw = 1% of viewpoint width */
	}
	.navbar-brand p { /* Shippuden */
	font-size: 3em;
	margin-top: 12px;
	}

}
